/* AlbumManager.css */

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: center; /* Center the content horizontally */
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  align-items: center; /* Align items vertically in the center */
  justify-content: space-between;
  margin-bottom: 20px;
}

.input-container input[type='text'] {
  flex: 1;
  padding: 10px;
  margin-right: 10px;
}

.input-container button.add-button {
  padding: 10px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
}

.input-container button.add-button:hover {
  background-color: #0056b3;
}

.album-list {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f0f0f0;
  text-align: left;
}
li span {
  width: calc(100% - 190px) !important;
}

li div.button-container {
  display: flex;
  gap: 10px;
  width: 184px;
}

button.update-button,
button.delete-button {
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
  background-color: gray;
  color: #fff;
}

button.update-button:hover {
  background-color: #33cc33;
}

button.delete-button:hover {
  background-color: #cc0000;
}
/* Responsive Styles */

@media (max-width: 768px) {
  .input-container {
    flex-direction: column;
  }

  .input-container input[type='text'] {
    width: 100%;
  }

  .input-container button.add-button {
    width: 100%;
  }
}
